{% extends 'base.html' %}

{% block content %}
  <!-- index.html content starts here -->
  <div class="container-fluid">
    <div class="row">
      <!-- Blog Entries Column -->
      <h1>Price list</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">PRODUCT NAME</th>
            <th scope="col">CODE</th>
            <th scope="col">PRICE IN COP</th>
            <th scope="col">CREATED BY</th>
            <th scope="col">CREATED ON</th>
          </tr>
        </thead>

        <tbody>
          {% for product in object_list %}
            <tr>
              <th scope="row">
                <a href="{% url 'product_detail' product.productCode %}">{{ product.productName }}</a>
              </th>
              <td>{{ product.productCode }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.author }}</td>
              <td>{{ product.created_on }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% if is_paginated %}
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li>
              <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
            </li>
          {% endif %}
          {% if page_obj.has_next %}
            <li>
              <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>
{% endblock %}

{% block copyright %}
  Copyright 2024 Diego Cárdenas
{% endblock %}
<!-- index.html content ends here -->
