<!DOCTYPE html>
<html class="h-100" lang="en">

{% extends 'base.html' %}
{% load static %}

<head>
  <title>Plastilecor Portal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <!-- Title goes between these h2 tags -->
      <h1 class="text-center">{{ welcome.welcomeTitle }}</h1>
    </div>
  </div>
  <!-- Image -->
  <div class="row my-4">
    <div class="col-12 text-center">
        <img src="{% static 'images/plastic-stick-red.jpg' %}" class="img-fluid responsive-img" alt="Plastilecor plastic sticks">
        <p class="text-muted mt-1">Figure 1: Plastilecor red plastic sticks for polar guilliotine</p>
    </div>
  </div>
  <!-- Paragraph -->
  <div class="row">
    <div class="col-12">
        <p class="lead text-center">
          This portal provides distributors with an online price list that can be checked at anytime upon registration
        </p>
    </div>
  </div>
</div>
<div class="row mt-1">
  <div class="col text-right">
    <!-- Conditional to render last update date of the page if the user is authenticated -->
    {% if user.is_authenticated %}
    <p class="text-end m-3"><em>Updated on: {{ welcome.updated_on }}</em></p>
    {% endif %}
  </div>
</div>

{% endblock content %}
</html>
