{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      <img src="{% static 'images/plastic-padureț-1476320.jpg' %}" width="75%" />
    </div>
    <div class="col-8">
      <!-- Title goes between these h2 tags -->
      <h2>{{ welcome.welcomeTitle }}</h2>
      <!-- Content goes directly underneath this -->
      {{ welcome.content | safe }}
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes in here -->
      {% if user.is_authenticated %}
      <p class="text-end"><em>Updated on: {{ welcome.updated_on }}</em></p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}