{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row mt-5 d-flex flex-wrap align-items-center">
  <div class="col-8 text-center mt-5">
    <!-- Title goes between these h2 tags -->
    <h2>{{ welcome.welcomeTitle }}</h2>
    <!-- Content goes directly underneath this -->
    {{ welcome.content | safe }}
  </div>
  <div class="col-4 text-left">
    <img src="{% static 'images/plastic-stick-red.jpg' %}" width="70%" max-width="90%" class="img-fluid" />
  </div>  
  <div class="row mt-3">
    <div class="col text-right">
      <!-- Updated on field goes in here -->
      {% if user.is_authenticated %}
      <p class="text-end m-3"><em>Updated on: {{ welcome.updated_on }}</em></p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}